@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
  margin: 0;
}

.carta {
  width: 20vw;
  height: 30vw;
  max-width: 400px;
  max-height: 600px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
  position: relative;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simboloArriba,
.simboloAbajo {
  font-size: calc(15px + 4vw);
  position: absolute;
}

.simboloArriba {
  top: 0%;
  left: 5%;
}

.simboloAbajo {
  bottom: 0%;
  right: 5%;
  transform: rotate(180deg);
}

.simbolo-rojo {
  color: red;
}

.numero {
  font-size: calc(30px + 10vw);
  text-align: center;
  line-height: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#boton {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.795);
  cursor: pointer;
  transition: all 0.3s ease;
}

#boton:hover {
  background-color: #dbdbdb;
  transform: translateY(-2px);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
